body {
    margin: 0;
    padding: 0;
    font-family: 'Gilam', sans-serif;
}

.main-container {
    background-color: #171717;
    width: 1920px;
    margin: 0 auto;
    color: #fff;
}

/* шапка */
.top-header {
    display: flex;
    justify-content: space-between;
    padding: 46px 0 130px 0;
    height: 50px;
}

.header-logo-container {
    height: 33px;
    margin: auto 0;
}

.header-callback-container {
    column-gap: 11px;
    width: 218px;
    display: flex;
    align-items: center;
    color: #E4B564;
    justify-content: center;
    border: 1px solid #E4B564;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Circe', sans-serif;
}

/* верхняя секция с типами работ */
/* .main-content {} */

.main-content-title {
    font-size: 50px;
    /* font-family: 'Gilam', sans-serif; */
    line-height: 28px;
    /* padding-bottom: 40px; */
    font-style: normal;
    font-weight: 700;
}

.main-content-title-description {
    font-size: 20px;
    /* font-family: 'Gilam', sans-serif; */
    line-height: 28px;
    padding-bottom: 40px;
    font-weight: 700;
    font-style: normal;
}

.main-content-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 460px);
    gap: 27px;
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
}

.main-content-work {
    display: inherit;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

.main-cw-block1 {
    background-color: #634F2C;
    grid-column: 1/3;
    grid-row: 1/2;
}

.main-cw-block2 {
    background-color: #B4A385;
    grid-column: 3/5;
    grid-row: 1/2;
}

.middle-cw-block2-bold {
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
}

.main-cw-block3 {
    background-color: #E4B564;
    grid-column: 5/7;
    grid-row: 1/2;
}

.main-cw-block4 {
    background-color: #635A4A;
    grid-column: 1/4;
    grid-row: 2/3;
}

.main-cw-block5 {
    background-color: #B08C4D;
    grid-column: 4/7;
    grid-row: 2/3;
}

/* Средняя секция с техникой */
.middle-content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 26px;
    row-gap: 26px;
    grid-template-rows: auto;
    padding-bottom: 191px;
}

.middle-content-title {
    font-size: 50px;
    line-height: 28px;
    font-weight: 700;
    padding: 161px 0 94px 0;
    font-style: normal;
}

.middle-content-work>p {
    padding: 47px 0 0 52px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

.middle-cw-block1 {
    display: grid;
    grid-template-rows: 313px 560px;
    row-gap: 26px;
}

.middle-cw-block1-el1 {
    background-color: #0E0E0E;
}

.middle-cw-block1-el2 {
    background-color: #1F1F1F;
}

.middle-cw-block2 {
    display: grid;
    grid-template-rows: 439px 405px;
    row-gap: 26px;
}

.middle-cw-block2-el1 {
    background-color: #242424;
}

.middle-cw-block2-el2 {
    background-color: #E4B564;
    color: #000;
}

.middle-cw-block3 {
    display: grid;
    grid-template-rows: 255px 313px 277px;
    row-gap: 26px;
}

.middle-cw-block3-el1 {
    background-color: #1F1F1F;
}

.middle-cw-block3-el2 {
    background-color: #0E0E0E;
}

.middle-cw-block3-el3 {
    background-color: #0A0909;
}

/* Нижняя секция с клиентами */
.bottom-content-heading {
    padding: 172px 0 72px 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
}

.bottom-content-title {
    font-size: 50px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
}

.bottom-content-link {
    display: flex;
    width: 180px;
    border: 1px solid #E4B564;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #E4B564;
    font-size: 18px;
    line-height: 28px;
    box-sizing: border-box;
    font-family: 'Circe', sans-serif;
}

.bottom-content-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);

}

.bottom-content-client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}

.bottom-cw-block1 {
    background-color: #634F2C;
}

.bottom-cw-block2 {
    background-color: rgba(232, 210, 171, 0.76);
    text-decoration: none;
    color: #fff;
}

.bottom-cw-block2>p {
    width: 326px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    
}
.bottom-cw-block2>p:nth-child(3){
    padding-top: 16px;
}

.bottom-cw-block2>p:nth-last-child(n+4){
    font-weight: 600;
}
.bottom-cw-block3 {
    background-color: #E4B564;
}

.bottom-cw-block4 {
    background-color: #635A4A;
}

.bottom-cw-block5 {
    background-color: #B08C4D;
}

.bottom-cw-block6 {
    background-color: #634F2C;
}

.main-footer {
    height: 238px;
}

.top-content,
.middle-content,
.top-header,
.bottom-content-box {
    width: 1480px;
    margin: 0 auto;
}

.bottom-content {
    background-color: #0E0E0E;
}