/* global styles */
body {
    width: 100%;
    font-family: Ubuntu, serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    height: 770px;
}

.bold-text {
    font-weight: 700;
}

.link-decoration-none {
    text-decoration: none;
}

.text-color-white {
    color: #fff
}

/* Background */
.main-background>img{

    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: 0 0;
    height: 100%;
    width: 100%;
}

/* Header styles */
.main-header {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-width: 650px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 79px;
    height: 60px;
}

.header-text-logo:not(hover) {
    text-transform: uppercase;
    font-size: 22px;
    transition: 250ms;
}

.header-text-logo:hover {
    color: #3CB878;
    transition: 250ms;
}

.header-right-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-icon img {
    padding-right: 27px;
}

.header-icons-svg {
    padding-right: 27px;
}

.header-icons-calendar:hover {
    /* stroke: #1b422e;
    fill: #1c2420; */
    filter: invert(61%) sepia(39%) saturate(672%) hue-rotate(96deg) brightness(93%) contrast(84%);
}

.header-icons-email:hover {
    /* stroke: #1b422e;
    fill: #1c2420; */
    filter: invert(61%) sepia(39%) saturate(672%) hue-rotate(96deg) brightness(93%) contrast(84%);
}

.header-icons-navigation:hover {
    /* stroke: #1b422e;
    fill: #1c2420; */
    filter: invert(61%) sepia(39%) saturate(672%) hue-rotate(96deg) brightness(93%) contrast(84%);
}

.header-icons-navigation::after {
    content: "";
    border-right: 2px solid #fff;
    position: relative;
    bottom: 6px;
}
.header-auth-login {
    padding-left: 27px;
}
.header-auth-login:hover {
    color: #3CB878;
}
.header-auth-login::before {
    content: 'Welcome, ';
}

.header-auth-login:hover::before {
    color: #fff;
}

.header-auth-singup:hover {
    color: #3CB878;
}

.header-auth-singup::before {
    content: ' or ';
}

.header-auth-singup:hover::before {
    color: #fff;
}

/* Main content */
.main-content {
    position: relative;
    width: 445px;
    /* height: 445px; */
    margin: 55px auto 0;
    background: #fff;
}

.content-decore-element {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 29px;
}

.content-box {
    padding: 15px 58px 38px;
}

.content-box-auth {
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 30px 48px;
    align-items: end;
    justify-content: space-between;
    column-gap: 4px;
    row-gap: 15px;
    margin-bottom: 31px;
}

.box-auth-signup {
    font-size: 20px;
    color: #434343;
    line-height: 20px;
}

.box-auth-login {
    justify-self: end;
    color: #3CB878;
    box-sizing: border-box;
}

.box-auth-login:hover {
    color: #01813F;
    text-decoration: underline;

}

.auth-logo-line::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    top: 10px;
    right: 110px;
    opacity: 0.1;
}

.box-auth-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
}

.box-auth-facebook:not(hover) {
    background-color: #305DB8;
    padding: 0 22px 0 17px;
    transition: 250ms;
}

.box-auth-facebook:hover {
    background-color: #022263;
    transition: 250ms;
}

.auth-facebook-logo {}

.box-auth-google:not(hover) {
    background-color: #DF4A32;
    padding: 0 27px 0 12px;

}

.box-auth-google:hover {
    background-color: #AB1F09;
    transition: 250ms;
}

.auth-google-logo {}


.content-separator-box {
    padding-bottom: 12px;
    text-align: center;
    position: relative;
    color: #848484;
}

.separator-or::after {
    position: absolute;
    height: 1px;
    width: 152px;
    left: 0px;
    top: 8px;
    content: '';
    background-color: #F2F2F2;
}

.separator-or::before {
    position: absolute;
    height: 1px;
    width: 152px;
    right: 0px;
    top: 8px;
    content: '';
    background-color: #F2F2F2;
}

.content-form-box {
    border: 0;
    padding: 0;
    margin: 0;
}

.form-box-labels {
    display: block;
    color: #434343;
    padding: 7px 0;
}

.form-box-inputs {
    width: 100%;
    height: 45px;
    padding-left: 20px;
    box-sizing: border-box;
}

.form-box-inputs:not(focus) {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    transition-duration: 250ms;
}

.form-box-inputs::placeholder {
    color: #BEBEBE;
}

.form-box-inputs:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    transition-duration: 250ms;
    outline: inherit;
}

.label-checkbox {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.form-box-condition {
    padding-right: 20px;
}

.form-box-condition+a {
    /* text-decoration: none; */
    color: #3CB878;
}

.form-box-condition+a:hover {
    text-decoration: underline;
    color: #01813F;
}

.form-btn-create:not(hover) {
    display: flex;
    width: 100%;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}

.form-btn-create:hover {
    background-color: rgba(1, 129, 63, 1);
    transition: 250ms;
}