html {
    --white: #FFFFFF;
    --black: #000000;
    --nav-menu-list: #35444F;
    --nav-menu-list-item-a:
    --top-logo-text:#000000;
	--top-logo-text-span:#4BCAFF;
	--header-nav:#f5f5dc;
	--nav-menu-list-item-hover:#222F3A;
	--body-menu-list-item:#485863;
	--body-menu-list-item-hover-bc:#DBDBDB;
	--middle-container-text:#2C2C2C;
	--bottom-footer:#63696E7A;
	--footer-list-item:#0C1927;
	--footer-list-item-a-hover:#3181A6;
}

html[data-theme="dark"] {
    --white: #000000;
    --black: #FFFFFF;
    --nav-menu-list: #8cb2cd;
    --nav-menu-list-item-a:;
    --top-logo-text:#FFFFFF;
	--top-logo-text-span:#4BCAFF;
	--header-nav:#383833;
	--nav-menu-list-item-hover:#84b0d4;
	--body-menu-list-item:#485863;
	--body-menu-list-item-hover-bc:#DBDBDB;
	--middle-container-text:#939393;
	--bottom-footer:#b2bdc67a;
	--footer-list-item:#3b78b9;
	--footer-list-item-a-hover:#0d222c;

}


.switcher {
    position: absolute;
    font-size: 20px;
    right: 40px;
    color: var(--black);
    background-color: var(--body-menu-list-item-hover-bc);

}
body{
    background-color: var(--white);
}

.main-container {
    width: 1280px;
    margin: 0 auto;
    background-color: var(--white);
}

.top-logo {
    padding-top: 63px;
    padding-bottom: 40px;
}

.top-logo-text {
    font-family: Roboto;
    font-size: 80px;
    /* color: #000000; */
    color:var(--top-logo-text);
}

.top-logo-text span {
    /* color: #4BCAFF; */
    color: var(--top-logo-text-span);
}

.header-nav {
    margin-bottom: 40px;
    /* background-color: #f5f5dc; */
    background-color: var(--header-nav);
}

.nav-menu-list {
    display: flex;
    justify-content: center;
    background-color: var(--nav-menu-list);
    /* background-color:#97afc0; */
}

.nav-menu-list-item {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px 35px;
    border-left: 1px solid var(--white);
    font-family: Roboto;
}

.nav-menu-list-item:nth-last-child(-n+1) {
    border-right: 1px solid var(--white);
}

.nav-menu-list-item a {
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
}

.nav-menu-list-item:hover {
    /* background-color: #222F3A; */
    background-color: var(--nav-menu-list-item-hover);
    cursor: pointer;
}

.main-container-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.container-body-menu {
    flex-basis: 340px;
}

.body-menu-list {
    border: 1px solid var(--black);
}

.body-menu-list-item {
    font-family: Roboto;
    padding: 27px 0px 27px 44px;
    /* color: #485863; */
    color: var(--body-menu-list-item);
}

.body-menu-list-item a {
    text-decoration: none;
    color: inherit;
    font-size: 27px;
    font-weight: inherit;
}

.body-menu-list-item:hover {
    /* background-color: #DBDBDB; */
    background-color: var(--body-menu-list-item-hover-bc);
    padding-left: 60px;
    color: var(--black);
    /* color: #000000; */
    cursor: pointer;
    font-weight: bold;
}

.middle-container {
    flex-basis: 884px;
}

.middle-container-figure {
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.middle-container-text {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    /* color: #2C2C2C; */
    color: var(--middle-container-text);
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bottom-footer);
    /* background-color: #63696E7A; */
    padding: 0 40px;
}

.footer-list {
    display: flex;
    gap: 25px;
}

.footer-list-item {
    font-family: Roboto;
    color: var(--footer-list-item);
    /* color: #0C1927; */
    font-size: 28px;
}

.footer-list-item a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    justify-content: center;
    align-items: center;
    line-height: 28px;
}

.footer-list-item a:hover {
    border-bottom: 1px solid var(--footer-list-item-a-hover);
    /* border-bottom: 1px solid #3181A6; */
    padding-bottom: 8px;
    color: var(--footer-list-item-a-hover);
    /* color: #3181A6; */
}

.footer-copyright {
    font-size: 24px;
    line-height: 24px;
}