/* Global Styles */
body {
    margin: 0 auto;
    padding: 0;
    width: 1280px;
}

.top-header {
    width: 100%;
    /* margin: 0 auto; */
}

.top-header-nav {
    width: 620px;
    margin: 0 auto;
}

/* Header Styles */
.header-nav-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav-item {
    font-family: Montserrat;
    display: inline-block;
    text-transform: uppercase;
    color: #FF0000;
    margin: 25px 0px;
    font-weight: bold;
    font-size: 18px;
    width: 24%;
    text-align: center;

}

.header-nav-item-link,
.header-nav-item-link:active,
.header-nav-item-link:hover,
.header-nav-item-link:visited {
    text-decoration: none;
    color: #FF0000;
}

/* Main Content Styles */
.main-container {
    width: 1280px;
    margin: 0 auto
}

.main-container-box {
    width: 1145px;
    margin: 0 auto;
}

.container-box-title {
    width: max-content;
    margin: auto;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    padding: 50px 0;
}

.container-box-text {
    text-align: center;
    font-size: 16px;
    padding: 0 0 28px 0;
    margin: 0;
    line-height: 133%;
    color: #373737;
    letter-spacing: 2.4px;
    font-family: Montserrat;
}

.container-box-button {
    text-align: center;
}

.box-button-item {
    padding: 18px 43px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Montserrat;
    color: #FFFFFF;
    background-color: #FF0000;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1.8px;
}

/* Footer Styles */
.bottom-footer {
    width: 100%;
    text-align: right;

}

.bottom-footer-copyright {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    padding: 82px 105px 20px 0;
    font-family: Montserrat;




}