.main-container {
    width: 1280px;
    margin: 0 auto;
}
.top-logo {
    padding-top: 63px;
    padding-bottom: 40px;
}

.top-logo-text {
    font-family: Roboto;
    font-size: 80px;
    color: #000000;
}

.top-logo-text span {
    color: #4BCAFF;
}

.header-nav {
    margin-bottom: 40px;
    background-color: beige;
}

.nav-menu-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.nav-menu-list-item {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px 35px;
    border-left: 1px solid #FFFFFF;
    font-family: Roboto;
}

.nav-menu-list-item:nth-last-child(-n+1) {
    border-right: 1px solid #FFFFFF;
}

.nav-menu-list-item a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}

.nav-menu-list-item:hover {
    background-color: #222F3A;
    cursor: pointer;
}

.main-container-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.container-body-menu {
    flex-basis: 340px;
}

.body-menu-list {
    border: 1px solid black;
}

.body-menu-list-item {
    font-family: Roboto;
    padding: 27px 0px 27px 44px;
    color: #485863;
}

.body-menu-list-item a {
    text-decoration: none;
    color: inherit;
    font-size: 27px;
    font-weight: inherit;
}

.body-menu-list-item:hover {
    background-color: #DBDBDB;
    padding-left: 60px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

.middle-container {
    flex-basis: 884px;
}

.middle-container-figure {
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.middle-container-text {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63696E7A;
    padding: 0 40px;
}

.footer-list {
    display: flex;
    gap: 25px;
}

.footer-list-item {
    font-family: Roboto;
    color: #0C1927;
    font-size: 28px;
}

.footer-list-item a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    justify-content: center;
    align-items: center;
    line-height: 28px;
}

.footer-list-item a:hover {
    border-bottom: 1px solid #3181A6;
    padding-bottom: 8px;
    color: #3181A6;
}

.footer-copyright {
    font-size: 24px;
    line-height: 24px;
}