



* {
    margin: 0;
    padding: 0;
}

.link-none {
    text-decoration: none;
    color: inherit;
}

.font-weight-bold {
    font-family: 'Roboto';
    font-weight: 700;
}

.font-weight-normal {
    font-size: 18px;
    line-height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

}

body {
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    font-family: 'Roboto', 'sans-sherif';
    font-style: normal;
    font-weight: 400;

    color: white;

}

.main-conteiner {

    width: 1028px;
    margin: 0 auto;

}

.top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    height: 61px;
    margin-top: 46px;
    margin-bottom: 17px;

}

.header-logo-container {
    display: grid;
    grid-template-columns: 53px 140px;
    /* padding: 5px 0 9px 0; */
    text-transform: uppercase;
    column-gap: 8px;
    align-items: center;
}

.header-logo-container:hover {
    filter: invert(47%) sepia(65%) saturate(3071%) hue-rotate(350deg) brightness(100%) contrast(91%);
}

.logo-img {
    /* grid-column: 1/1; */
    grid-row: 1/3;
    align-self: center;
    fill: #5c0e0e;


}

.logo-name-line-1 {
    align-self: flex-end;
    font-size: 29px;

    font-style: normal;
    line-height: 29px;

}

.logo-name-line-2 {
    font-size: 18px;
    line-height: 18px;
    grid-column: 2/3;
    grid-row: 2/2;
}

.header-contact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: end;
    text-align: right;


}
.contact-hover:hover{
    color:#F26522;

}

.header-contact-mail {
    align-self: self-start;
    font-size: 18px;
    line-height: 18px;
}

.header-contact-phone {
    align-self: self-end;
    font-size: 18px;
    line-height: 18px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    gap: 37px 63px;
    /* margin-bottom: 50px; */
    align-items: center;
    text-align: center;
}


figure:hover .image-hover-info  {
    display: grid;
 
    
}
figure:hover .image-title{
    color:#F26522;
    

}
.content-image {
    position: relative;
    
    
}
.image-hover-info {
    /* display: none; */
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    bottom: 42px;
    width: 100%;
    height: 55px;
    background-color: #F26522;
    align-items: center;
}

.hover-info-from {
    font-size: 10px;
    grid-row: 1/2;
    grid-column: 1/3;
    justify-self: start;
    padding-left: 16px;
}

.hover-info-cost {
    font-size: 20px;
    grid-row: 2/3;
    justify-self: start;
    padding-left: 16px;
}

.hover-info-detail {
    position: relative;
    font-size: 14px;
    grid-row: 2/3;
    justify-self: end;
    padding-right: 45px;
}

.hover-info-detail::after {
    content: "";
    top: 4px;
    right: 21px;
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    border-left: 1.5px solid rgb(255, 255, 255);
    transform: rotate(225deg);
    align-self: center;
}



.image-pic {
    width: 300px;
    height: 220px;
    padding-bottom: 20px;

}

.image-title {
    text-align: center;
    /* margin: 20px; */
}

.bottom-footer {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    margin-top: 49px;
    color: aliceblue;
}

.logo-img-bc {
    background-image: url(../img/logo_main.svg);
    background-color: black;

}